{{- $s := .Site.Params }}
{{- partial "mermaid" . }}
{{ partial "katex" . }}
<footer class="footer">
  <div class="footer_inner wrap pale">
    <img src='{{ absURL (default "icons/apple-touch-icon.png" $s.footerLogo) }}' class="icon icon_2 transparent">
    <p>
      {{ T "copyright" }}&copy; {{ with $s.since }} {{ . }}{{ end }}<span class="year"></span> {{ upper .Site.Title }}. {{ T "all_rights" }}
      &nbsp;
      {{- if .Site.Params.beianNum }}<a href="{{ .Site.Params.beianUrl }}">{{ .Site.Params.beianNum }}</a>{{ end }}
    </p>
    {{- partial "top" .}}
  </div>
</footer>